<% form.object.authorizations.each_with_index do |handler, handler_idx| %>
  <div class="card-section">
    <div class="card__header collapse">
      <h5 class="card__title">
        <%= t("authorize_with", authorizer: handler.handler_name, scope: "decidim.verifications.authorizations.new") %>
      </h5>
    </div>

    <%= form.fields_for "authorizations[#{handler_idx}]", handler, builder: Decidim::AuthorizationFormBuilder do |handler_form| %>
      <div id="authorization-handler-<%= handler_form.object.handler_name %>" class="authorization-handler">
        <%= render "handler_form", handler_form: handler_form %>
      </div>
    <% end %>
  </div>
<% end %>
