<div class="reveal two_columns" id="loginModal" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t("verify_wo_registration.login_modal.title") %></h3>
    <button class="close-button" data-close aria-label="Close modal"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="columns medium-6" style="margin-top: 60px;">
      <div class="row">
        <div class="columns medium-10 medium-centered">
          <div class="content" style="background: rgba(239, 96, 77, 0.2);border-radius: 5px;padding: 2rem;">
            <%= render "decidim/shared/verify_wo_registration_login_modal_col1" %>
          </div>  
        </div>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="row">
        <div class="columns medium-10 medium-centered">
          <h5><%= t("verify_wo_registration.login_modal.col2_title") %></h5>
          <%= render "decidim/shared/verify_wo_registration_login_modal_col2" %>
        </div>
      </div>
    </div>
  </div>
</div>
